{% extends "bootstrap/base.html" %}
{% block title %}{% if title %}
        {{ title }} - microblog
        {% else %}
        microblog
        {% endif %}{% endblock %}
        {% block navbar %}

   <nav class="navbar navbar-light bg-faded justify-content-between flex-nowrap flex-row">
    <a href="/" class="navbar-brand">Microblog</a>
    <ul class="nav navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('explore') }}">Explore</a></li>
            {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('user', username=current_user.username) }}" align='right'><img src="{{ current_user.avatar(12) }}"/> {{ current_user.username }}</a></li>
            {% endif %}
        </ul>
     </nav>
        <hr>

        {% endblock %}



        {% block content %}

        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block scontent %}
        {% endblock %}
        {% endblock %}